@model MessageBoard.Models.Topic

<div class="row h3 page-header">
    <a href="@Url.Action("Index", "Topics")" class="col-md-2">
        <span class="glyphicon glyphicon-chevron-left"></span>
    </a>
    <span class="col-md-10">@Model.Title</span>
</div>

@Html.DisplayFor(model => model.Content)
@Html.DisplayFor(model => model.User.FullName)
@Html.DisplayFor(model => model.DateCreated)

<ul>
    @foreach (var comment in Model.Comments)
    {
        <li class="comment"><a href="@Url.Action("Details", "Comments", new { id=comment.Id })"> @comment.Text @*<span> @comment.User.FullName</span>*@<span class="date"> @comment.DateCreated</span></a></li>
    }
</ul>

<form action="/Topics/AddComment" method="post">
    <input type="hidden" name="id" value="@Model.Id" />
    <input class="form-control input-lg" type="text" name="text" /> <br />
    <input class="btn btn-primary" type="submit" value="Add Comment" />
</form>