@using MessageBoard.ViewModels
@model  TopicsViewModel

@{
    ViewBag.Title = "Index";
}

<h2>Last Added Topics</h2>
@if (User.Identity.IsAuthenticated)
{
    <a href="@Url.Action("Create", "Topics")">
        <span class="btn btn-primary"><span class="glyphicon glyphicon-plus-sign"></span> Add New Topic</span>
    </a>
}

<hr />

<table class="table-condensed table-hover">

    @foreach (var item in Model.Topics)
    {
        <tr class="row">
            <th class="col-md-2">
                <span> @item.Category.Name <br /> @item.Title </span>
            </th>
            <td class="col-md-9">
                @Html.DisplayFor(modelItem => item.Content)<br />
                <small class="pull-right"> @item.User.FullName <br /> @item.DateCreated </small>
            </td>
            <td class="col-md-1">
                <a href="@Url.Action("Details", "Topics", new { id = item.Id })">
                    <span class="glyphicon glyphicon-info-sign"></span>
                </a>
                @if (User.IsInRole("Administrators"))
                {
                    <a href="@Url.Action("Edit", "Topics", new { id = item.Id })">
                        <span class="glyphicon glyphicon-edit"></span>
                    </a>
                    <a href="@Url.Action("Delete", "Topics", new { id = item.Id })">
                        <span class="glyphicon glyphicon-remove-sign"></span>
                    </a>
}
            </td>
        </tr>
    }
</table>

@Html.Partial("Pagination", new PagerViewModel() { Pager = Model.Pager })

