@model MessageBoard.Models.Category

@{
    ViewBag.Title = "Details";
}

<div class="row h3 page-header">
    <a href="javascript:history.back()" class="col-md-2">
        <span class="glyphicon glyphicon-chevron-left"></span>
    </a>
    <span class="col-md-10">@Html.DisplayFor(model => model.Name)</span>
</div>

<div>@Html.DisplayFor(model => model.Description)</div>

@if (User.IsInRole("Administrators"))
{
    <a href="@Url.Action("Edit", "Categories", new { id = Model.Id })">
    <span class="glyphicon glyphicon-edit"></span>
    </a>
}


<hr />

<div>
    @if (User.Identity.IsAuthenticated)
    {
        <a href="@Url.Action("Create", "Topics")">
            <span class="btn btn-primary"><span class="glyphicon glyphicon-plus-sign"></span> Add New Topic</span>
        </a>
    }
</div>



<table class="table-condensed table-hover">

    @foreach (var topic in Model.Topics)
    {
        <tr class="row">
            <th class="col-md-2">
                @Html.DisplayFor(modelItem => topic.Category.Name)
            </th>
            <td class="col-md-2">
                @Html.DisplayFor(modelItem => topic.Title)
            </td>
            <td class="col-md-3">
                @Html.DisplayFor(modelItem => topic.Content)
            </td>
            <td class="col-md-2">
                @Html.DisplayFor(modelItem => topic.User.FullName)
            </td>
            <td class="col-md-2">
                @Html.DisplayFor(modelItem => topic.DateCreated)
            </td>
            <td class="col-md-1">
                <a href="@Url.Action("Details", "Topics", new { id = topic.Id })">
                    <span class="glyphicon glyphicon-info-sign"></span>
                </a>
                @if (User.IsInRole("Administrators"))
                {
                    <a href="@Url.Action("Edit", "Topics", new { id = topic.Id })">
                        <span class="glyphicon glyphicon-edit"></span>
                    </a>
                    <a href="@Url.Action("Delete", "Topics", new { id = topic.Id })">
                        <span class="glyphicon glyphicon-remove-sign"></span>
                    </a>
}
            </td>
        </tr>
    }
</table>
