@model IEnumerable<MessageBoard.Models.Category>

@{
    ViewBag.Title = "Index";
}

<h2>Categories</h2>

<a href="@Url.Action("Create", "Categories")">
    <span class="btn btn-primary"><span class="glyphicon glyphicon-plus-sign"></span> Add New Category</span>
</a>

<hr />

<table class="table-condensed table-hover">

    @foreach (var item in Model)
    {
        <tr class="row">
            <th class="col-md-1">
                @Html.DisplayFor(modelItem => item.Name)
            </th>
            <td class="col-md-10">
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td class="col-md-1">
                <a href="@Url.Action("Details", "Categories", new { id = item.Id })">
                    <span class="glyphicon glyphicon-info-sign"></span>
                </a>
                @if (User.IsInRole("Administrators"))
                {
                    <a href="@Url.Action("Edit", "Categories", new { id = item.Id })">
                        <span class="glyphicon glyphicon-edit"></span>
                    </a>
                    <a href="@Url.Action("Delete", "Categories", new { id = item.Id })">
                        <span class="glyphicon glyphicon-remove-sign"></span>
                    </a>
                }
            </td>
        </tr>
    }
</table>
