@model IEnumerable<MessageBoard.Models.Topic>

<div class="row">
    <div class="col-md-12">
        @using (Html.BeginForm())
        {
            <div class="form-inline">
                @Html.TextBox("search", null, new { @class = "form-control", placeholder = "Search Topic..." })
                <button class="btn btn-primary" type="submit"><span class="glyphicon glyphicon-search"></span></button>
            </div>
        }
        <br />
    </div>
</div>
<div class="row">
    <div class="col-md-8">
        <div class="list-group">
            @foreach (var item in Model)
            {
                @*<a href="@Url.Action("Details", "Topics", new { id=item.Id })" class="list-group-item">@Html.DisplayFor(modelItem => item.Category.Name): @Html.DisplayFor(modelItem => item.Title)<span class="badge">@item.Comments.Count</span></a>*@ @*- @Html.DisplayFor(modelItem => item.Content) </a>        <small><a href="#" id="readMore">Show Less</a></small>*@
            <a href="@Url.Action("Details", "Topics", new { id = item.Id })" class="list-group-item">@item.Category.Name: @item.Title<span class="badge">@item.Comments.Count</span></a>
            }
        </div>
    </div>
    <div class="col-md-4">
        @if (User.Identity.IsAuthenticated)
        {
            <a href="@Url.Action("Create", "Topics")">
                <span class="btn btn-primary"><span class="glyphicon glyphicon-plus-sign"></span> Add New Topic</span>
            </a>
        }
    </div>
</div>


@*<table class="table-hover">

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Category.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Content, null, new { @class = "read" })
                </td>
            </tr>
        }
    </table>

    <script>
        $('#readMore').click(
            function () {
                $('.read').toggleClass('read-less');
                if ($(this).text() == 'Show Less') $(this).text('Show More');
                else $(this).text('Show Less');
            }
        );
    </script>*@
